<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}e2x Course Service{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript">
      // Inject server-side configuration into the client
      window.__APP_CONFIG__ = {
        baseUrl: "{{ service_prefix }}/app",
        apiUrl: "{{ api_url }}",
        user: {
          name: "{{ user.name }}",
          admin: {{ 'true' if user.admin else 'false' }}
        }
      };
    </script>
    <link rel="stylesheet" href="{{ service_prefix }}/static/course-service-ui/assets/main.css" />
    <script type="module" src="{{ service_prefix }}/static/course-service-ui/main.js"></script>
    <link rel="icon" type="image/png" href="{{ service_prefix }}/static/course-service-ui/assets/favicon.ico" />
  </head>
  <body>
  <div id="root"></div>
  </body>
</html>