@import "tailwindcss";

@theme {
  --color-hbrs-medium-blue: #079dde;
  --color-hbrs-light-blue: #d8f3ff;
  --color-hbrs-dark-blue: #005d92;
  --color-background: #fff;
  --color-danger: oklch(0.577 0.245 27.325);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: #fff;
  --color-primary: #079dde;
  --color-primary-foreground: #fff;
  --color-secondary: #e0e0e0;
  --color-secondary-foreground: #000;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  :root {
    --background: 0 0% 100%;
  }

  * {
    border-color: var(--color-gray-200, #e5e7eb);
  }

  thead {
    background-color: var(--color-sky-100, #e0f2fe);
  }
}
